{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Card Application{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h4>Oakland Public Library</h4>
<h2>Library Card Application</h2>

<form method=post>
  <fieldset>
    {{ render_field(form.birth_date) }}
  </fieldset>

  <p>What language(s) besides English do you use?</p>

  <p>If you have a disability and would like to have Extended Services, please check this box.</p>
  <p>If you would like a Teacher Card, please check this box. (For teachers who teach in Oakland, Emeryville, and Piedmont. Additional ID required.)</p>
  <p>If you would like to add a Designated Borrower, please see instructions on the other side of this form and check this box.</p>

  <ul>
    <li>For your own protection, please report the loss of your library card immediately.</li>
    <li>Please let us know if you change your name, telephone, email, or address.</li>
    <li>Protect your account: Don’t write your PIN on your card, or let others use it.</li>
  </ul>

  <h4>Parent/Legal Guardian Agreement Required for Children 0-12</h4>

  <p>I have read and understand the parent agreement on the other side of this form.</p>

  <h4>ID Information</h4>
  <p>Adults and teens must show current identification. If a teen does not have identification, they may have a parent/legal guardian sign their application instead.</p>

  <p>ID is not required for parents/legal guardians signing an application for their child’s card. Acceptable IDs include but are not limited to:</p>
  <ul>
    <li>Valid State Driver’s License / Identification Card</li>
    <li>Photo ID Transit Card / City ID</li>
    <li>First Class mail addressed to you</li>
    <li>Permanent Resident Card</li>
    <li>Matricula Consular ID</li>
    <li>Social Security Card / Passport</li>
    <li>Current medical identification card</li>
    <li>School ID or report card</li>
    <li>Teens only: Homework</li>
    <li>Other ID approved by staff. Please ask.</li>
  </ul>

  <h4>Designated Borrowers</h4>
  <p>Designated Borrowers may only check out materials on your record. Library staff cannot disclose other information in your record to them. If you wish to add a Designated Borrower(s) to your record, please write their full name(s) here:</p>

  <h4>Additional Services</h4>
  <p>OPL offers extended borrowing to teachers who teach in Oakland, Emeryville and Piedmont and to people with disabilities. Please ask staff if you are interested in these services. Residents of Oakland, Emeryville, and Piedmont can inquire about borrowing tools. More information is available on our website. Additional ID required for teachers: School or institution identification, or school or institution paystub, or CA family childcare home license, or affidavit of private school, or letter of acknowledgement of homeschooling from a local school district (Oakland, Piedmont, or Emeryville).</p>

  <h4>Privacy</h4>
  <p>Your email is only used for library notices. (If you do not provide email, you will receive automated messages by phone.) You may add an alias to your account for privacy. Please ask staff. We value your privacy; a full privacy statement is available on our website.</p>

  <h4>Parent/Legal Guardian Agreement</h4>
  <ul>
    <li>Your child’s card is for your child’s use only, and your child must be present to get their card.</li>
    <li>Your child’s library record (like yours) is private by law. For children 8 and up, the library cannot tell you what your child has checked out, except when a fee is owed.</li>
    <li>The Library cannot limit access to any items in the library, including computers, for your child. Your child can use computers even if they do not have a library card.</li>
    <li>If your child is under 8 years old, they must be closely supervised by a parent/legal guardian or responsible caregiver and may not be left unattended in the library.</li>
  </ul>

  <fieldset>
    <p><input type=submit value=Submit></p>
  </fieldset>
</form>

{% endblock %}
