body {
  color: #231f20;
  font-size: 11pt;
}

a {
  color: #57a3cf;
  text-decoration: none;
}

span {
  margin-left: 1rem;
  display: inline-block;
}

dd {
  margin: 0;
}

hr {
  margin: 1rem 0 3rem 0;
  border: none;
  height: 1px;
  background-color: #837f80;    
}

input[type="text"] {
  margin: 0;
  color: #231f20;
  background-color: #fff;
  border: 0.1rem solid #bbb;    
}

input[type="text"]:focus {
  border-color: #57a3cf;
}

input[type="submit"] {
  background-color: #57a3cf;
  border: 0.1rem solid #57a3cf;
}

input[type="submit"]:hover {
  background-color: #4bb454;
  border-color: #4bb454;
}

.sublabel label {
  font-weight: normal;
}

.logo {
  margin: 0 1rem 0 0;
  width: 10rem;
}

form h1,h2,h3,h4 {
  margin: 4rem 0 1rem 0;
  font-weight: bold;
}

.header h2 {
  margin-top: 0;
}

.container {
  padding: 4rem;
}

.text-center {
  text-align: center;
}

.strong-bullets {
  font-weight: bold;
}

.strong-bullets li {
  margin: 0.5rem, 0 0.5rem 0;
}

.checkbox-list li {
  list-style:none;
}

.id-list {
  font-weight: bold;
  font-size: 0.85em;
  column-count: 3;
}

.id-list li {
  margin: 0;
}

ul li {
  list-style-type: disc;
}
